.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.span-header {
    color: #2E2F42;
}